/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

.html2, .body2 {
    height: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav a{
    color: white;
    font-size: 1.8vw;
    position: relative;
    top: 10px;
    right: 10px;
}

.nav a:hover{
    font-size: 2vw;
    transition: 0.5s;
    color: rgb(199, 199, 199);
}

/* Estilo do corpo */
body {
    background: linear-gradient(to bottom right, #73D3FF, #A4E0FF);
    color: #333;
    background-repeat: no-repeat;
}

/* Estilo do cabeçalho */
header {
    background-color: #4BAFE1;
    background-size: 100%;
    padding: 20px;
    text-align: center;

}

header h1 {
    font-size: 2.5rem;
    color: white;
}

/* Estilo do conteúdo principal */
main {
    padding: 40px 10%;
}

/* Estilo das seções de conteúdo */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

/* Estilo de cada card */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #4BAFE1;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

.login{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    background-color: white;
    position: relative;
    top: 15vw;
    left: 25%;
    border-radius: 7px;
    padding: 10px;
}

.login h1{
    position: relative;
    left: 43%;
}

.login button{
    max-width: 10%;
    border-radius: 7px;
    position: relative;
    left: 45%;
    margin: 10px;
}

.login label, .login input{
    max-width: 95%;
    border-radius: 7px;
    padding: 10px;
}

.login input{
    position: relative;
    left: 2%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    header h1 {
        font-size: 2rem;
    }
}
